<h2>Edit Entry</h2>

<form action="/entries/<%= @entry.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="glucose">Glucose: </label>
    <input type="number" name="glucose" id="glucose" value="<%=@entry.glucose%>"><br>
    <label for="carbs">Carbs: </label>
    <input type="number" name="carbs" id="carbs" value="<%=@entry.carbs%>"><br>
    <label for="insulin">Insulin: </label>
    <input type="number" step="0.25" name="insulin" id="insulin" value="<%=@entry.glucose%>"><br>
    <label for="note">Notes: </label>
    <textarea id="note" name="note" placeholder="<%=@entry.note%>"></textarea>
    <input type="submit" id="submit">
</form>