<h2>Edit Entry</h2>
<a href="/entries/<%= params[:id] %>">Back</a>
<br><br>

<form action="/entries/<%= @entry.id %>" method="post">
<input type="hidden" name="_method" value="patch">
    <table>
        <tr>
            <td><label for="glucose">Glucose: </label></td>
            <td><input type="number" name="glucose" id="glucose" value="<%=@entry.glucose%>"> mg/dl</td>
        </tr>
        <tr>
            <td><label for="carbs">Carbs: </label></td>
            <td><input type="number" name="carbs" id="carbs" value="<%=@entry.carbs%>"> grams</td>
        </tr>
        <tr>
            <td><label for="insulin">Insulin: </label></td>
            <td><input type="number" step="0.25" name="insulin" id="insulin" value="<%=@entry.insulin%>"> units</td>
        </tr>
        <tr>
            <td><label for="note">Notes: </label></td>
            <td><textarea id="note" name="note"><%=@entry.note%></textarea></td>
        </tr>
    </table>
    <input type="submit" id="submit">
    <br><br>

    <% if @failed %>
        <p class="warning">All fields cannot be blank. Please try again.</p>
    <% end%>
</form>