<a href="/entries">Back</a>

<h3><%= @entry.created_at.strftime("%D %I:%M %p")%></h3>

<p>Glucose: <%= @entry.glucose %> mg/dl<br>
Carbs: <%= @entry.carbs %>g<br>
Insulin: <%= @entry.insulin %> units<br>
Notes: <%= @entry.note %></p>